pyqtgraph~=0.11.0
numpy~=1.18.5
streamlit~=0.78.0
pandas~=1.2.0
markdown~=3.1.1
matplotlib~=3.2.1
plotly~=4.14.3
bokeh~=2.1.1
panel~=0.9.7
param~=1.9.3
hvplot~=0.6.0
holoviews~=1.13.3
pyecore~=0.12.0
pillow~=7.1.2
seaborn~=0.11.1
yaml~=0.2.5
pyyaml~=5.3.1
pyparsing~=2.4.7
psutil~=5.8.0
click~=7.1.2
gym~=0.18.0
requests~=2.25.1
six~=1.15.0
scipy~=1.6.0
pysc2~=3.0.0
setuptools~=51.3.3
sc2gym~=0.0.5
pyactr~=0.2.4