<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmc -->
      <package
            uri="http://www.chadpeters.net/metamind"
            class="metamind.MetamindPackage"
            genModel="cmc.genmodel"/>
   </extension>

</plugin>
